<div class="container">
  <h2>Programările mele</h2>

  @for (a of appointments; track a) {
    <div class="card">
      <p><strong>Doctor ID:</strong> {{ a.doctorId }}</p>
      <p><strong>Data:</strong> {{ a.appointmentDate | date:'short' }}</p>
      <p><strong>Status:</strong> {{ a.status }}</p>
      @if (a.status === 'Pending' || a.status === 'Confirmed') {
        <button
          (click)="cancel(a.id)">
          Cancel
        </button>
      }
    </div>
  }

  @if (appointments.length === 0) {
    <p>Nu ai programări.</p>
  }
</div>
